.alert-success {
  background-color: lightgreen;
}

.alert-info {
  background-color: lightblue;
}

.alert-danger {
  background-color: lightcoral;
}

.alert-warning {
  background-color: lightgoldenrodyellow;
}

.hightlight {
  font-weight: bold;
  background-color: yellow;
  padding: 6px 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
